version: '3.8' 

services:
  app: 
    build: . 
    ports:
      - "8080:8080" 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock 
       
      - jenkins_home:/var/jenkins_home
      - .:/var/jenkins_home/workspace/dockerimage 


